<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebRadio.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WebRadio.My.MySettings>
            <setting name="Stazione" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Trasparenza" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tema" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NomeRadio" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>RAI Radio 1</string>
                        <string>RAI Radio 2</string>
                        <string>RAI Radio 3</string>
                        <string>RAI Radio 4 Light</string>
                        <string>RAI Radio 5 Classica</string>
                        <string>RAI Radio 6 Teca</string>
                        <string>RAI Radio 7 Live</string>
                        <string>RAI Radio 8 Opera</string>
                        <string>RAI IsoRadio</string>
                        <string>RAI Italica</string>
                        <string>Monte Carlo FM - RMC 1</string>
                        <string>Monte Carlo 2 - RMC 2</string>
                        <string>105 FM</string>
                        <string>105 - Miami</string>
                        <string>Radio 24 - Il Sole 24 Ore</string>
                        <string>RDS - Radio Dimensione Suono</string>
                        <string>Radio Padova</string>
                        <string>RTL 102.5 FM</string>
                        <string>RTL Best</string>
                        <string>RTL ItalianStyle</string>
                        <string>RTL Groove</string>
                        <string>RTL Lounge</string>
                        <string>RTL Radiofreccia</string>
                        <string>Virgin Radio</string>
                        <string>Virgin Radio Classic</string>
                        <string>Company</string>
                        <string>Bella &amp; Monella</string>
                        <string>Marilù</string>
                        <string>RAM Power 102.7</string>
                        <string>Gelosa</string>
                        <string>ABC Lounge</string>
                        <string>Svizzera Classica</string>
                        <string>Südtirol 1</string>
                        <string>Mitology</string>
                        <string>Subasio</string>
                        <string>Kiss Kiss Italia</string>
                        <string>LatteMiele</string>
                        <string>Marte</string>
                        <string>Ibiza</string>
                        <string>Radionorba</string>
                        <string>BBC Radio 1</string>
                        <string>BBC Radio 2</string>
                        <string>BBC Radio 3</string>
                        <string>BBC Radio 4</string>
                        <string>BBC World Service</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="URLRadio" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>https://icestreaming.rai.it/1.mp3</string>
                        <string>https://icestreaming.rai.it/2.mp3</string>
                        <string>https://icestreaming.rai.it/3.mp3</string>
                        <string>https://icestreaming.rai.it/4.mp3</string>
                        <string>https://icestreaming.rai.it/5.mp3</string>
                        <string>https://icestreaming.rai.it/9.mp3</string>
                        <string>https://icestreaming.rai.it/10.mp3</string>
                        <string>https://icestreaming.rai.it/11.mp3</string>
                        <string>https://icestreaming.rai.it/6.mp3</string>
                        <string>https://icestreaming.rai.it/8.mp3</string>
                        <string>https://icecast.unitedradio.it/RMC.mp3</string>
                        <string>https://edge.singsingmusic.net/MC2.mp3</string>
                        <string>https://icecast.unitedradio.it/Radio105.mp3</string>
                        <string>https://icy.unitedradio.it/105Miami.mp3</string>
                        <string>http://shoutcast2.radio24.it:8000/;</string>
                        <string>https://icstream.rds.radio/rds</string>
                        <string>https://sphera.fluidstream.eu/rpd.aac</string>
                        <string>http://shoutcast.rtl.it:3010/stream/1/</string>
                        <string>http://shoutcast.rtl.it:3020/stream/1/</string>
                        <string>http://shoutcast.rtl.it:3030/stream/1/</string>
                        <string>http://shoutcast.rtl.it:3040/stream/1/</string>
                        <string>http://shoutcast.rtl.it:3070/stream/1/</string>
                        <string>http://shoutcast.rtl.it:3060/stream/1/</string>
                        <string>https://icecast.unitedradio.it/Virgin.mp3</string>
                        <string>https://icy.unitedradio.it/VirginRockClassics.mp3</string>
                        <string>https://sphera.fluidstream.eu/company.aac</string>
                        <string>http://wma01.fluidstream.net:8240/;</string>
                        <string>https://wma01.fluidstream.net/marilu</string>
                        <string>https://icstream.rds.radio/ram</string>
                        <string>http://players.fluidstream.net/gelosa.pls</string>
                        <string>https://listen.openstream.co/3139/audio</string>
                        <string>http://stream.srg-ssr.ch/m/rsc_it/mp3_128</string>
                        <string>http://str2.creacast.com/sudtirol1a</string>
                        <string>http://onair15.xdevel.com:9120/;</string>
                        <string>https://icy.unitedradio.it/Subasio.mp3</string>
                        <string>https://wma08.fluidstream.net:8080/KissKiss.mp3</string>
                        <string>https://22193.live.streamtheworld.com/LATTEMIELE.mp3</string>
                        <string>http://onair18.xdevel.com:8212/</string>
                        <string>http://wma02.fluidstream.net:5010/</string>
                        <string>http://onair11.xdevel.com:9990/</string>
                        <string>http://bbcmedia.ic.llnwd.net/stream/bbcmedia_radio1_mf_q</string>
                        <string>http://bbcmedia.ic.llnwd.net/stream/bbcmedia_radio2_mf_q</string>
                        <string>http://bbcmedia.ic.llnwd.net/stream/bbcmedia_radio3_mf_q</string>
                        <string>http://bbcmedia.ic.llnwd.net/stream/bbcmedia_radio4_mf_q</string>
                        <string>http://bbcwssc.ic.llnwd.net/stream/bbcwssc_mp1_ws-eieuk</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ImmagineRadio" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>https://upload.wikimedia.org/wikipedia/commons/3/3a/Rai_Radio1_2010_Logo.png</string>
                        <string>https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Rai_Radio_2_-_Logo_2017.svg/3375px-Rai_Radio_2_-_Logo_2017.svg.png</string>
                        <string>https://upload.wikimedia.org/wikipedia/commons/d/d2/Rai_Radio3_2010_Logo.png</string>
                        <string>https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Rai_Radio_4_Light.svg/1000px-Rai_Radio_4_Light.svg.png</string>
                        <string>https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Rai_Radio_5_Classica.svg/800px-Rai_Radio_5_Classica.svg.png</string>
                        <string>https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Rai_Radio_6_Teca.svg/800px-Rai_Radio_6_Teca.svg.png</string>
                        <string>https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Rai_Radio_7_Live.svg/1280px-Rai_Radio_7_Live.svg.png</string>
                        <string>https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Rai_Radio_8_Opera.svg/799px-Rai_Radio_8_Opera.svg.png</string>
                        <string>https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Rai_Isoradio_-_Logo_2017.svg/3618px-Rai_Isoradio_-_Logo_2017.svg.png</string>
                        <string>https://static.radio.it/images/broadcasts/90/78/22290/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/f2/b1/11706/1/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/ea/4c/10671/1/c175.png</string>
                        <string>https://upload.wikimedia.org/wikipedia/it/0/01/105.png</string>
                        <string>https://upload.wikimedia.org/wikipedia/it/0/01/105.png</string>
                        <string>https://static.radio.it/images/broadcasts/3e/bc/10138/1/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/e8/80/11635/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/de/65/11676/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/7d/a9/11717/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/7d/a9/11717/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/7d/a9/11717/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/7d/a9/11717/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/7d/a9/11717/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/7d/a9/11717/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/71/5e/10137/1/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/29/1d/10136/1/c175.png</string>
                        <string>https://upload.wikimedia.org/wikipedia/it/3/3a/Radio_Company.jpg</string>
                        <string>https://static.radio.it/images/broadcasts/c4/32/10868/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/69/74/11661/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/c3/51/103504/1/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/8c/e8/11643/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/e2/a2/10597/1/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/2b/85/7868/1/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/41/b0/4284/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/4d/cd/107480/1/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/41/8b/11690/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/93/10/17426/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/4b/e5/2552/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/46/81/23423/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/4a/15/19303/c175.png</string>
                        <string>https://static.radio.it/images/broadcasts/67/e4/11668/c175.png</string>
                        <string>https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/BBC_Radio_1.svg/1920px-BBC_Radio_1.svg.png</string>
                        <string>https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/BBC_Radio_2.svg/1920px-BBC_Radio_2.svg.png</string>
                        <string>https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/BBC_Radio_3.svg/1920px-BBC_Radio_3.svg.png</string>
                        <string>https://upload.wikimedia.org/wikipedia/en/thumb/5/53/BBC_Radio_4.svg/1920px-BBC_Radio_4.svg.png</string>
                        <string>https://static.radio.it/images/broadcasts/dd/cb/3476/1/c175.png</string>
                    </ArrayOfString>
                </value>
            </setting>
        </WebRadio.My.MySettings>
    </userSettings>
</configuration>